<!DOCTYPE html>
<html>
<head>
    <title>canteen myapp</title>
    <style>
        img { max-width: 150px; }
        .canteen{ border: 1px solid #ccc; padding: 10px; margin: 10px; display: inline-block; }
    </style>
</head>
<body>
    <h1>canteen</h1>
    {% for canteen in pcanteen %}
        <div class="canteen">
            {% if canteen.image %}
                <img src="{{ canteen.image.url }}" alt="{{canteen.name }}">
            {% endif %}
           
            <p>${{canteen.price }}</p>
        </div>
    {% endfor %}
</body>
</html>